html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(10, 22, 27);
    font-family: 'Press Start 2P', cursive;
    color: white;
}

body * {
    box-sizing: border-box;
}

/* HEADER */

.header {}

.header img {
    width: 300px;
    margin-left:30px;
    padding-top:30px;
    padding-bottom:30px;
}

/* POKEDEX */

.pokedex {
    background-color: rgb(19, 43, 53);
    min-height: 50vh;
}

.pokedex>div:nth-of-type(1), .pokedex>div:nth-of-type(2) {
    margin: 14px;
    display: inline-block;
}

.pokedex .thumbnails {
    display: grid;
    padding: 4vw;
    grid-template-columns: 30vw 30vw 30vw;
    column-gap: 10px;
    row-gap: 10px;
    color: #9b104e;
}

.pokedex .thumbnails div {
    background-color: white;
    padding: 8px;
}

/* CARD */

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.4);
}

.card>div:nth-of-type(1), .card>div:nth-of-type(2) {
    text-align: center;
}

.card>div:nth-of-type(3) {
    font-size: 0.8em;
    text-align: left;
    color: rgb(106, 106, 106);
}

/* FOOTER */

.footer {
    padding: 14px;
    font-size: 0.6em;
}

/* BUTTONS */

button {
    padding: 8px;
    color: #483c46;
    background-color: #e9c46a;
    font-family: 'Press Start 2P', cursive;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffb627;
}

button:active {
    background-color: rgb(58, 58, 205);
    color: rgb(142, 197, 242);
}

button:focus {
    outline: none;
}